.TextInputContainer{

	display: flex;
}

.TextInput{

	font-weight: var(--base-font-weight);
	font-size: var(--base-font-size);
	line-height: 120%;

	font-family: "RalewayRegular" !important;
	font-variant-numeric: lining-nums;
	letter-spacing: 0.05rem;

	border: none;
	outline:none;
	color: var(--text-color);

	background-color: rgba(0, 0, 0, 0);
}
.TextInput:focus{
	color: #3A3A3A;
}

